<p id="notice"><%= notice %></p>
<font face="verdana" color="black" size="6"><i>Bootstrap practice page</i></font>
<!--Bootstrap carousel  -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.daniellecbauer.com/images/notebook-hero-workspace-minimal-wallpaper.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://getwithtipsy.com/wp-content/uploads/2018/01/Publick-House-23-Website-Mockup.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://deskhunt-master.s3.amazonaws.com/posts/interviews/the-minimalist-coder-desk/minimalist_coder_desk_2.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--Bootstrap table  -->
<div>
<font face="verdana" color="black" size="5"><i>Post List</i></font>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Num</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <% post_number = 1 %>
    <% @posts.each do |post| %>
    <tr>
      <th scope="row"><%=post_number%></th>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      <% post_number = post_number + 1 %>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Post', new_post_path, class: "btn btn-light" %>
<br>
